*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.calculator{
  width:100%;
  height: 100vh;
  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: linear-gradient(to bottom,  rgb(21, 2, 37),rgb(191, 191, 211));
}
header{
  padding-top: 30px;
  color: white;
  text-align: center;
}

.calculator-block{
  border: 1px solid black;
  width: 340px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: linear-gradient(to bottom, rgb(146, 128, 143),rgb(101, 138, 206));
  border-radius: 5px;
  padding: 40px 20px;
  box-shadow: 10px 10px 10px 5px black;
  color:white;
}
.result-block{
  width: 300px;
  height: 80px;
  background-color: rgb(51, 50, 50);
  border-radius: 10px;
}

.result-block h1,.result-block p{
  position: absolute;
  right: 30px;
  /* border: 1px solid black; */
  max-width: 80%;
  overflow: scroll;
  scrollbar-width: none;
}
.button-block{
  text-align: center;
  width: 300px;
}
table{
  width: 100%;
}
td{
  border-radius: 10px;
  background: linear-gradient(to right,rgb(43, 23, 40),rgb(99, 82, 95));
  
}

 button{
  border: none;
  padding: 10px 20px;
  font-size: 25px;
  background: transparent;
  color:white;
}
td:hover{
  background: linear-gradient(to right,rgb(214, 81, 40),rgb(131, 122, 129));
  box-shadow: 0px 0px 5px 5px black;
}
#history-btn{
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
  background: linear-gradient(to right,black,rgb(102, 99, 99));
}

.history-block{
  width: 300px;
  height: 500px;
  border: 1px solid rgb(255, 245, 245);
  border-radius: 8px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-left: 320px;
  overflow: scroll;
  scrollbar-width: none;
  background-color: rgb(66, 65, 65);
}
.history-block i{
  color: white;
  position: absolute;
  right: 20PX;
  top: 10px;
  border: 2px solid white;
  padding: 5px 7px;
  border-radius: 40px;
}
.visible{
  display: block;
}
.hidden{
  display: none;
}

.history-block li{
  list-style: none;
  color:white;
  font-size: 25px;
  width: 100%;
}
.history-data{
  position: relative;
  top: 40px;
  padding-left: 30px;
}